.cart-table {
  width: 90%;
  margin: 40px auto;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.cart-table h1 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-table table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.cart-table th {
  background-color: #0077ff;
  color: white;
}

.cart-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cart-table tr:hover {
  background-color: #e1eaff;
}

.cart-table img {
  object-fit: contain;
  height: 60px;
}

.cart-table .checkout-btn,
.cart-table .remove-btn {
  padding: 6px 12px;
  margin: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.cart-table .checkout-btn {
  background-color: #0077ff;
  color: #fff;
}

.cart-table .checkout-btn:hover {
  background-color: #005fcc;
}

.cart-table .remove-btn {
  background-color: #ff3b3b;
  color: #fff;
}

.cart-table .remove-btn:hover {
  background-color: #d80000;
}
.grand-total-row {
  background: #f4f4f4;
  font-size: 18px;
}

