
.landingpage {
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
}

.landingpage .bgimage {
  width: 100%;
  height: 100%;
  background: url(../Images/bg1.jpg) no-repeat center/cover;
  position: relative;
}


.landingpage .bgimage .container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.landingpage .container h1 {
  font-size: 3.5vw;
  font-weight: 700;
  color: #fff;
  margin-top: 4vh;
  text-align: center;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
  width: 70%;
  margin-left: 150px;
}

.landingpage .container h1::first-letter {
  color: gold;
  font-size: 4vw;
}

.formbox {
  position: absolute;
  top: 50%;                    
  left: 50%;
  transform: translate(-50%, -50%);

  width: 35%;
  padding: 35px 2vw;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(7px);
  border-radius: 20px;
  border: solid 2px rgba(255, 255, 255, 0.45);

  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
}

.formbox form {
  width: 100%;
}

.formbox input,
.formbox button {
  width: 100%;
  padding: 14px;
  margin: 12px 0;

  border-radius: 12px;
  font-size: 1rem;
  outline: none;

  transition: 0.3s ease;
}

.formbox input {
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: #fff;
}

.formbox input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.formbox input:focus {
  border-color: gold;
  background: rgba(255, 255, 255, 0.28);
}

.formbox button {
  width: 50%;
  margin: 20px auto 0 auto;
  display: block;

  background: #0077ff;
  color: #fff;
  border: none;
  cursor: pointer;

  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 64, 255, 0.3);
}

.formbox button:hover {
  background: #005fcc;
}


@media (max-width: 500px) {
  .formbox {
    width: 90%;
    padding: 30px 20px;
  }

  .landingpage .container h1 {
    font-size: 6vw;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .formbox {
    width: 60%;
  }

  .landingpage .container h1 {
    font-size: 4vw;
  }
}
