.navbar {
  height: 10vh;
  width: 100%;
  background: linear-gradient(gold, white);
  display: flex;
  align-items: center;       
  justify-content: space-between;
  padding: 0 3vw;
}

.logo h1 {
  margin: 0;
}

.links ul {
  display: flex;
  align-items: center;      
  gap: 2rem;
  font-size: larger;
}

.links ul li {
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;      
  gap: 5px;                 
}
